<div class="jumbotron">
  <div class="container">
    <h1>404 <small> Resource not found :( </small></h1>
    <p>
		Sorry, but the page you were trying to view does not exist.
	</p>
	<p>
		It looks like this was the result of either:
		<ul>
			<li>a mistyped address</li>
			<li>an out-of-date link</li>
			<li>unauthorized access</li>
		</ul>
	</p>
	<p>
		<strong>Other things to try:</strong>
	<p>
	<span class="input-group input-group-lg" role="group">		      		
		<input tabindex="-1" autofocus type="text" class="form-control" placeholder="Search for..." ng-keypress="searchKeypress($event,searchInput)" ng-model="searchInput"/>
		<span class="input-group-btn">
			<button type="button" class="btn btn-default" aria-label="search" ng-click="search(searchInput)">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
		</span>
	</span>
	<p>
		<a class="btn btn-primary btn-lg" href="/" role="button">Go to top site</a>
	</p>
  </div>
</div>